*, ::before, ::after { box-sizing: border-box};

body {
  background-color: bisque;
  color: hsl(219, 36%, 58%);
  display: flex;
  height: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  justify-content: center;
  padding: 10px;
}